<div id="sp-nav"  ng-include="'partials/menu.html'"></div>

<div id="sp-page">
    <div ng-include="'partials/header.html'"></div>

    <div id="content" style="text-align:center;" >
        <div ng-show="showMsg"  class="alert alert-success" role="alert"> {{msg}}</div>

        <div class="o-team">
            <div class="o-team-person" style="width: auto">
                <img src="{{account.img}}" />
                <h4>{{account.name}}</h4>
                <div class="h-line50"></div>
                <p>{{account.details}}</p>
            </div>


        </div>
        <hr>
        <div>
            <div class="o-team-person" style="width: auto">
                <h5>Edit Account</h5>
            </div>
            <input type="text" class="form-control" name="username" id="username" value="{{account.name}}" />
            <input type="text" class="form-control" name="details" id="details" value="{{account.details}}" />

            <img id="myImage" src="{{account.img}}" /> 
            <input type="button" class="btn btn-warning " ng-click="take_photo()" value="Take a photo" />
            <input type="button" class="btn btn-warning " ng-click="take_photo2()" value="Take a photo 2" />

            <!--<button ng-model='myPicture'>Take Picture</button>-->


<!--            <button camera ng-model='myPicture'>Take Picture</button>

            <ul ng-repeat="onepic in myPictures">
                <li style="list-style: none">
                    <input type="image" 
                           src="{{onepic}}" 
                           width="250" 
                           height="390" 
                           alt="error"/>
                </li>
            </ul>-->
            
            <br/><br/>
            <input type="button" class="btn btn-primary"  id="save" value="save" name="save"  />
        </div>

    </div>

    <div class="subFooter">Copyright 2013. All rights reserved.</div>
</div>
