<div style='position: fixed' id="sp-nav"  ng-include="'partials/menu.html'"></div>

<div style='position: fixed;height:auto' id="sp-page">
    <div ng-include="'partials/header.html'"></div>
</div>
<div id="content" style="text-align:center;" >
        <div ng-show="showMsg"  class="alert alert-success" role="alert"> {{msg}}</div>

        <div class="o-team">
            <div class="o-team-person" style="width: auto">
                <img style="max-width: 30%;" ng-src="{{account.img}}" />
                <h4>{{account.name}}</h4>
                <div class="h-line50"></div>
                <p>{{account.details}}</p>
            </div>


        </div>
        <hr>
        <div>
            <div class="o-team-person" style="width: auto">
                <h5>Edit Account</h5>
            </div>
            <label>user name</label>
            <input type="text" class="form-control" name="username" id="username" value="{{account.name}}" />
            <br/>
            
            <label>details</label>
            <input type="text" class="form-control" name="details" id="details" value="{{account.details}}" />
            <br/>
            
            <label>contact number</label>
            <input type="text" style='width:88%;float:left;' class="form-control" name="contact_number" id="contact_number" value="{{account.contact_number}}" />
            <input type="button" class="btn btn-warning " ng-click="contact_search()" value="search in contacts" />

            <div class='clear' /></div>
            <br/>

            <img id="myImage" style='width:100px' ng-src="{{account.img}}" /> 
            <input type="button" class="btn btn-warning " ng-click="take_photo()" value="Take a photo" />
            
            <br/><br/>
            <input type="button" class="btn btn-primary"  id="save" value="save" name="save"  />
        </div>

    </div>

  <div style='position: fixed;bottom:0' class="subFooter">Copyright 2013. All rights reserved.</div>